<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>404 - Page not found.</title>
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body
    class="bg-stone-950 text-gray-100 min-h-screen flex items-center justify-center"
  >
    <div class="text-center">
      <h1 class="text-6xl font-bold text-purple-400">404</h1>
      <p class="mt-4 text-xl">Oops! Page not found.</p>
      <a
        href="/"
        class="mt-6 block bg-purple-400 hover:bg-purple-600 rounded-md py-3"
        >Go back Home</a
      >
    </div>
  </body>
</html>
